ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#logo {
    float: left;
    width: 96px;
    height: 96px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../images/logo.png) no-repeat;
}

#title {
    padding-top: 16px;
    padding-left: 128px;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    text-shadow: none;
}

#agreement>li {
    text-align: left;
}

/* Change the link color to #111 (black) on hover */
li:hover {
    background-color: #111;
}
object{
    height:600px;
    width:100%;
}
table, th, td {
   border: 1px solid black;
}

/* responsive design*/

@media (max-width: 497px) {
	li{
		width: 100%;
		font-size: 20px;
		text-align: center;
		margin-left:-10%;
	}
    object{
        height:2000px;
        overflow: scroll;
    }

}

.ui-page-theme-a {
    background-color: #f2f2f2 !important;
}

.quote:before {
    content: url(../images/quotation-mark-left.png);
}

.quote:after {
    content: url(../images/quotation-mark-right.png);
    vertical-align: -100%;
}

.callout {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 54px;
    text-size-adjust: 100%;
    width: 970px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 485px 27px;
    transform-origin: 485px 27px;
    background: rgb(217, 232, 248);
    border-top: 0px solid rgba(0, 0, 0, 0.0980392);
    border-right: 0px solid rgba(0, 0, 0, 0.0980392);
    border-bottom: 0px solid rgba(0, 0, 0, 0.0980392);
    border-left: 15px solid rgba(0, 0, 0, 0.0980392);
    outline: rgb(51, 51, 51) none 0px;
    padding: 17.5px 17.5px 15px 15px;
}
